<form novalidate>
  <label for="long-url">Paste your long URL here:</label>

  <input id="long-url" type="url" name="long-url"><div class="icon-settings">&nbsp;</div>

  <div class="advanced-form">
    <label for="custom-url">Custom short URL:</label>
    <input id="custom-url" type="text" name="custom-url">
  </div>
  <button type="submit">Shorten it!</button>
</form>

<div id="short-url"></div>
