<header>
  <h1>Ze.lc</h1>
</header>
<div id="main-content"></div>
<div id="offline-urls"></div>
<div id="error"></div>
<footer>
  Proudly powered by <a href="http://github.com/whatyouhide" target="_blank">whatyouhide</a> and <a href="http://www.dehlic.com" target="_blank">dehlic</a>
</footer>
