.form-view {
  margin-bottom: 80px;
  text-align: center;
  label, input[type=url], input[type=text] {
    text-align: left;
    float: left;
    width: 432px;
  }
  input[type=url], input[type=text] {
    margin-bottom: 40px;
  }
  &.advanced {
    .advanced-form {
      opacity: 1;
      display: block;
    }
  }

  &.short-url-visible {
    #short-url {
      display: block;
    }
  }
  .advanced-form {
    opacity: 0;
    display: none;
  }
  .icon-settings {
    float: left;
    width: 48px;
    height: 48px;
    background-size: 80% auto;
    background-position: center center;
    cursor: pointer;
  }
  input[type=url], input[type=text] {
    border: 1px solid $light;
    font-family: 'Montserrat', sans-serif;
    color: $medium;
    font-size: 36px;
  }

  label {
    margin-bottom: 5px;
  }

  button.shorten, button.copy {
    font-family: 'Montserrat', sans-serif;
    border: none;
    background-color: $dark;
    padding: 10px 30px;
    color: $white;
    font-size: 36px;
    cursor: pointer;
    margin: 0px auto;
    width: 250px;
    transition: background .3s;
    &:hover {
      background-color: $medium;
    }
  }
  button.copy {
    font-size: 14px;
    padding: 5px 15px;
    margin-top: 40px;
    width: 100px;
    padding: 8px 35px 8px 15px;
    margin-top: 40px;
    width: auto;
    background-size: auto 70%;
    background-position: 90% center;
    background-color: $dark;
    &.zeroclipboard-is-hover {
      background-color: $medium;
    }
  }
  #short-url {
    display: none;
    font-size: 44px;
    margin: 40px 0;
    width: 100%;
    padding: 40px 0;
    border: 4px dashed $medium;
  }
}
