#offline-urls {
  @extend %clearfix;
  @include pagewidth();
  .empty {
    margin: 20px auto;
    float: left;
  }
  h1 {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  fieldset.url-filter {
    float: right;
    position: relative;
    z-index: 1;
    top: 1px;
    input {
      opacity: 0;
      position: absolute;
      width: 0;
      height: 0;
      & + label {
        float: left;
        font-size: 12px;
        padding: 5px 10px;
        border-top: 1px solid $light;
        border-left: 1px solid $light;
        cursor: pointer;
        display: block;
        background: $white;
        &:hover {
          border-top: 1px solid $main-color;
          border-left: 1px solid $main-color;
        }
      }
      &:checked + label {
        border-top: 1px solid $main-color;
        border-left: 1px solid $main-color;
        background: $main-color;
        color: $white;
      }
    }
  }
  ul.main-urls {
    @extend %clearfix;
    width: 100%;
    float: left;
    li {
      float: left;
      width: 100%;
      border-left: 10px solid $main-color;
      border-top: 1px solid $main-color;
      padding: 20px 0px;
      &:nth-child(2n + 1) {
        border-left: 10px solid $light;
        border-top: 1px solid $light;
      }
      .copy {
        float: left;
        width: 21%;
        height: 100px;
        position: relative;
        background-size: 50% auto;
        background-position: center center;
        cursor: pointer;
        transition: background-image;
        position: relative;
        span {
          position: absolute;
          bottom: 0;
          width: 100%;
          text-align: center;
          font-size: 10px;
        }
      }
      h2, h3, h4 {
        width: 79%;
        float: left;
      }
      h2 {
        font-size: 20px;
        margin-bottom: 10px;
      }
      h3 {
        font-size: 16px;
        margin-bottom: 10px;
        img, a {
          display: inline-block;
          vertical-align: middle;
        }
        a {
          @include ellipsis(350px);
          &:hover {
            overflow: initial;
          }
        }
      }
      h4 {
        font-size: 12px;
        margin-bottom: 10px;
        span, .icon-time {
          display: inline-block;
          vertical-align: middle;
        }
        .icon-time {
          width: 16px;
          height: 16px;
          background-size: 90% 90%;
          background-position: center center;
        }
        span {
          padding-left: 5px;
        }
      }
    }
  }
}
